{% extends "layout.twig" %}
{% block title %}
	Thoth - Export
{% endblock %}
{% block content %}
	<div class="container py-4">
		<div class="card mb-4">
			{% include 'pages/project/partials/card_header.twig' with {active_tab: 'export',is_owner: false, project: data.project} %}
			<div class="card-body">
				<h4 class="mb-4">Export</h4>
				<nav>
					<ul class="nav nav-tabs mb-4" id="exportTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="latex-tab" data-bs-toggle="tab" data-bs-target="#latex" type="button" role="tab" aria-controls="latex" aria-selected="true">
								<i class="fab fa-markdown"></i>
								LaTeX
							</button>
						</li>
						{% if data.project.get_import == 100 %}
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="bibtex-tab" data-bs-toggle="tab" data-bs-target="#bibtex" type="button" role="tab" aria-controls="bibtex" aria-selected="false">
									<i class="fas fa-book"></i>
									BibTeX
								</button>
							</li>
						{% endif %}
					</ul>
				</nav>
				<!-- Hidden input for project ID (required by export.js) -->
				<input type="hidden" id="id_project" value="{{ data.project.get_id }}">
				<div class="tab-content" id="exportTabContent">
					<div class="tab-pane fade show active" id="latex" role="tabpanel" aria-labelledby="latex-tab">
						<div class="mb-3">
							<div class="d-flex flex-wrap gap-3 justify-content-center">
								{% if data.project.get_planning == 100 %}
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="check_planning" value="Planning" name="step">
										<label class="form-check-label" for="check_planning">Planning</label>
									</div>
								{% endif %}
								{% if data.project.get_import == 100 %}
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="check_import" value="Import" name="step">
										<label class="form-check-label" for="check_import">Import Studies</label>
									</div>
								{% endif %}
								{% if data.project.get_selection > 0 %}
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="check_selection" value="Selection" name="step">
										<label class="form-check-label" for="check_selection">Study Selection</label>
									</div>
								{% endif %}
								{% if data.project.get_quality > 0 %}
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="check_quality" value="Quality" name="step">
										<label class="form-check-label" for="check_quality">Quality Assessment</label>
									</div>
								{% endif %}
							</div>
						</div>
						<form action="https://www.overleaf.com/docs" method="post" target="_blank">
							<textarea rows="16" class="form-control mb-3" name="snip" id="text_area-latex"></textarea>
							<button type="submit" class="btn btn-success opt">
								<i class="far fa-plus-square"></i>
								New Project in Overleaf</button>
						</form>
					</div>
					{% if data.project.get_import == 100 %}
						<div class="tab-pane fade" id="bibtex" role="tabpanel" aria-labelledby="bibtex-tab">
							<div class="mb-3">
								<div class="d-flex flex-wrap gap-3 justify-content-center">
									{% if data.project.get_import == 100 %}
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="check_import_bib" value="Import">
											<label class="form-check-label" for="check_import_bib">Import</label>
										</div>
									{% endif %}
									{% if data.project.get_selection > 0 %}
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="check_selection_bib" value="Selection">
											<label class="form-check-label" for="check_selection_bib">Selection</label>
										</div>
									{% endif %}
									{% if data.project.get_quality > 0 %}
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="check_quality_bib" value="Quality">
											<label class="form-check-label" for="check_quality_bib">Quality</label>
										</div>
									{% endif %}
									{% if data.project.get_extraction > 0 %}
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="check_extraction_bib" value="Extraction">
											<label class="form-check-label" for="check_extraction_bib">Extraction</label>
										</div>
									{% endif %}
								</div>
							</div>
							<textarea rows="16" class="form-control mb-3" id="bib_tex"></textarea>
							<a class="btn btn-success opt" id="export_bib" href="" download="Bib.bib" onclick="export_bib();">
								<i class="fas fa-download"></i>
								Download BibTeX</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
