
RewriteEngine On

# Allow access to assets, images, css, js, etc.
RewriteCond %{REQUEST_URI} ^/(assets|img|css|js|robots\.txt|favicon\.ico)
RewriteRule . - [L]

# Deny access to application and system folders
RedirectMatch 403 ^/(application|system|private|logs)

# Route all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

php_value max_input_vars 100000
php_value suhosin.get.max_vars 100000
php_value suhosin.post.max_vars 100000
php_value suhosin.request.max_vars 100000
