services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data
    depends_on:
      - db

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: always
    environment:
      - MH_STORAGE=maildir
    volumes:
      - mailhog_data:/maildir

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: thoth
      MYSQL_USER: thoth
      MYSQL_PASSWORD: thoth
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  mailhog_data:
