{% extends "layouts/modal.twig" %}
{% set modal_id = "modal_keyword" %}
{% set modal_label_id = "ModalLabel" %}

{% block modal_header %}
    <h5 class="modal-title" id="modalTitle">Edit Keyword</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endblock %}

{% block modal_body %}
    <input type="hidden" id="index_keyword">
    <label for="edit_keyword">Keyword</label>
    <input type="text" class="form-control" id="edit_keyword">
{% endblock %}

{% block modal_footer %}
    <a class="btn btn-danger" data-bs-dismiss="modal">Cancel</a>
    <a class="btn btn-success" onclick="edit_keyword()">Save</a>
{% endblock %}
