.throbber {
	width: 60px;
	height: 60px;
	border: 6px solid #f3f3f3;
	border-top: 6px solid $primary;
	border-radius: 50%;
	animation: throbber-spin 1s linear infinite;
}

@keyframes throbber-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
