{% extends "layouts/modal.twig" %}
{% set modal_id = "modal_help_general_score" %}
{% set modal_label_id = "modal_help_general_score_label" %}

{% block modal_header %}
    <h2 class="modal-title fs-5" id="modal_help_general_score_label">Help: General Score</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endblock %}

{% block modal_body %}
    <section>
        <p>Assign a score to each study to define its relevance based on quality criteria.</p>
    </section>
    <section>
        <h3 class="h6 mt-3">Score Intervals & Descriptions</h3>
        <ul>
            <li><strong>0 to 1:</strong> Very poor</li>
            <li><strong>1.5 to 2:</strong> Fair</li>
            <li><strong>2.5 to 3:</strong> Good</li>
        </ul>
    </section>
    <section>
        <p class="mt-3"><strong>Minimum General Score to Approve:</strong> Good</p>
    </section>
{% endblock %}
