{% extends "layouts/modal.twig" %}
{% set modal_id = "modal_help_date" %}
{% set modal_label_id = "modal_help_date_label" %}

{% block modal_header %}
    <h2 class="modal-title fs-5" id="modal_help_date_label">Help: Date</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endblock %}

{% block modal_body %}
{% endblock %}
