{% extends "layouts/modal.twig" %}
{% set modal_id = "modal_help_strategy" %}
{% set modal_label_id = "modal_help_strategy_label" %}

{% block modal_header %}
    <h2 class="modal-title fs-5" id="modal_help_strategy_label">Help: Search Strategy</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endblock %}

{% block modal_body %}
    <section>
        <p>Develop a search strategy in consultation with experts or librarians. Strategies are iterative and benefit from:</p>
    </section>
    <section>
        <ul>
            <li>Preliminary searches to identify existing reviews and assess relevant study volume.</li>
            <li>Trial searches using combinations of search terms from the research question.</li>
            <li>Checking trial strings against known primary studies.</li>
            <li>Consulting experts in the field.</li>
        </ul>
    </section>
    <section>
        <p class="mt-3">Describe your search strategy for the research here.</p>
    </section>
{% endblock %}
