{% extends "layout.twig" %}
{% block title%} Thoth - Planning {% endblock %}
{% block content %}
<div class="container py-4" id="conducting-tabs" data-project-id="{{ data.project.get_id }}">
	<div class="card">
	{% include 'pages/project/partials/card_header.twig' with { 'project': data.project , 'active_tab': 'conducting', 'is_owner': true } %}
		<div class="card-body bg-light">
			<h4>Conducting</h4>
			{% include 'pages/project/conducting/partials/tab_nav.twig' %}
			<div class="tab-content p-md-3">
				{% if data.project.get_planning == "100" %}
					<div class="tab-pane fade show active" id="tab_import_studies" role="tabpanel">
						{% include 'pages/project/conducting/tabs/tab_import_studies.twig' with { 'data': data } %}
					</div>
					<div class="tab-pane fade" id="tab_study_selection" role="tabpanel">
						{% include 'pages/project/conducting/tabs/tab_study_selection.twig' %}
					</div>
					<div class="tab-pane fade" id="tab_quality_assessment" role="tabpanel">
						{% include 'pages/project/conducting/tabs/tab_quality_assessment.twig' %}
					</div>
					<div class="tab-pane fade" id="tab_data_extraction" role="tabpanel">
						{% include 'pages/project/conducting/tabs/tab_data_extraction.twig' %}
					</div>
				{% else %}

				{% endif %}
			</div>
		</div>
		<br>
	</div>
</div>
{# <script src="{{ base_url('assets/js/conducting_tabs.js') }}"></script> #}
{% endblock %}

